<div mat-dialog-title>
    <h1>{{data ? 'Uredi osiguranje': 'Dodaj osiguranje'}}</h1>
</div>
<form [formGroup]="insuranceForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Osiguranik</mat-label>
                <mat-select formControlName="korisnikId">
                    <mat-option *ngFor="let val of korisnici" [value]="val.korisnikId">
                        {{val.imeIprezime}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Datum ugovaranja</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="dd.mm.yyyy." formControlName="datumUgovaranja">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Način plačanja</mat-label>
                <mat-select formControlName="placanjeNaRate">
                    <mat-option *ngFor="let val of types" [value]="val.value">{{val.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Odustani</button>
        <button mat-raised-button color="primary" type="submit">Spremi</button>
    </div>
</form>

