<app-main-navigation></app-main-navigation>

<div class="main-body">
  <h1>Informacije o pogrebu</h1>

  <div class="table-container">
      <table mat-table [dataSource]="dataSourceDeaths" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="datumPogreba">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum pogreba </th>
          <td mat-cell *matCellDef="let row"> {{row.datumPogreba | date}}</td>
        </ng-container>

        <ng-container matColumnDef="kremacija">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sahrana </th>
          <td mat-cell *matCellDef="let row"> {{row.kremacija ? 'Kremacija' : 'Ukop'}} </td>
        </ng-container>

        <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime naručitelja </th>
          <td mat-cell *matCellDef="let row"> {{row.korisnik.ime}} </td>
        </ng-container>

        <ng-container matColumnDef="prezime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime naručitelja </th>
          <td mat-cell *matCellDef="let row"> {{row.korisnik.prezime}} </td>
        </ng-container>

        <ng-container matColumnDef="ukupnaCijena">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ukupna cijena </th>
          <td mat-cell *matCellDef="let row"> {{row.ukupnaCijena | currency:'EUR'}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Uredi / Izbriši</b></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="openEditFuneralForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteFuneral(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="funeralColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: funeralColumns;"></tr>

      </table>
  </div>

  <div class="table-container">
    <h2>Smrtni slučaj</h2>
      <table mat-table [dataSource]="dataSourceDeaths" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.id}} </td>
        </ng-container>

        <ng-container matColumnDef="imePok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime pokojnika </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.imePok}}</td>
        </ng-container>

        <ng-container matColumnDef="prezimePok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime pokojnika </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.prezimePok}}</td>
        </ng-container>

        <ng-container matColumnDef="oibpok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OIB </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.oibpok}}</td>
        </ng-container>

        <ng-container matColumnDef="datumRodenjaPok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum rođenja </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.datumRodenjaPok | date}}</td>
        </ng-container>

        <ng-container matColumnDef="datumSmrtiPok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum smrti </th>
          <td mat-cell *matCellDef="let row"> {{row.smrtniSlucaj.datumSmrtiPok | date}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><b>Uredi</b></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openEditDeathForm(row.smrtniSlucaj)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="deathColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: deathColumns;"></tr>

      </table>
  </div>

  <div class="table-container">
    <div class="header">
      <h2>Popis opreme</h2>
        <button mat-raised-button (click)="addEquipment()">Dodaj opremu</button>
      </div>
      
      <table mat-table [dataSource]="dataSourceEquipment" matSort>
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.oprema.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="vrstaOpremeNaziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta opreme </th>
          <td mat-cell *matCellDef="let row"> {{row.oprema.vrstaOpremeNaziv}}</td>
        </ng-container>
    
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Naziv </th>
          <td mat-cell *matCellDef="let row"> {{row.oprema.naziv}}</td>
        </ng-container>
    
        <ng-container matColumnDef="cijena">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cijena </th>
          <td mat-cell *matCellDef="let row"> {{row.oprema.cijena | currency:'EUR'}}</td>
        </ng-container>

        <ng-container matColumnDef="kolicina">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kolicina </th>
          <td mat-cell *matCellDef="let row"> {{row.kolicina}}</td>
        </ng-container>
    
          
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="incrementEquipment(row.oprema.id)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="decrementEquipment(row.oprema.id)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="equipmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: equipmentColumns;"></tr>
    
      </table>
  </div>

    <div class="table-container">
      <div class="header">
        <h2>Popis usluga</h2>
        <button mat-raised-button (click)="addService()">Dodaj uslugu</button>
      </div>
      <table mat-table [dataSource]="dataSourceServices" matSort>
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="vrstaUslugeNaziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta usluge </th>
          <td mat-cell *matCellDef="let row"> {{row.vrstaUslugeNaziv}}</td>
        </ng-container>
        
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
          <td mat-cell *matCellDef="let row"> {{row.naziv}}</td>
        </ng-container>
        
        <ng-container matColumnDef="cijena">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cijena </th>
          <td mat-cell *matCellDef="let row"> {{row.cijena | currency:'EUR'}}</td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><b>Uredi</b></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button>
                  <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: serviceColumns;"></tr>
        
    </table>
  </div>
</div>