<div mat-dialog-title>
    <h1>Odaberi uslugu</h1>
</div>
<form [formGroup]="serviceForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Vrsta uslugue</mat-label>
                <mat-select formControlName="vrstaUsluge">
                    <mat-option *ngFor="let val of types" [value]="val.id">{{val.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Usluga</mat-label>
                <mat-select formControlName="uslugaId">
                    <mat-option *ngFor="let val of filteredServicesToShow" [value]="val.id">{{val.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Odustani</button>
        <button mat-raised-button color="primary" type="submit">Potvrdi</button>
    </div>
</form>

