<app-main-navigation></app-main-navigation>

<div class="main-body">
  <h1>Oprema</h1>
  <div class="header">
    <mat-select [(value)]="selectedType" (selectionChange)="getAllEquipment()">
      <mat-option *ngFor="let val of types" [value]="val.id">{{val.naziv}}
      </mat-option>
    </mat-select>
    <mat-form-field>
      <mat-label>Pretraži</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <button mat-raised-button (click)="openAddForm()"> Dodaj opremu </button>
  </div>

  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="vrstaOpremeUslugeNaziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta opreme </th>
          <td mat-cell *matCellDef="let row"> {{row.vrstaOpremeUslugeNaziv}}</td>
        </ng-container>

        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
          <td mat-cell *matCellDef="let row"> {{row.naziv}}</td>
        </ng-container>

        <ng-container matColumnDef="slika">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Slika </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.slika">
              <img class="table-image" [src]="'data:image/jpeg;base64,' + row.slika" />
            </ng-container>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="zaliha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Zaliha </th>
          <td mat-cell *matCellDef="let row"> {{row.zaliha}}</td>
        </ng-container>
        
        <ng-container matColumnDef="cijena">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cijena </th>
            <td mat-cell *matCellDef="let row"> {{row.cijena | currency:'EUR'}}</td>
          </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> <b>Uredi / Izbriši</b> </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openEditForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEquipment(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nema odgovarajućih podataka</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Odaberi stranicu"></mat-paginator>
    </div>
  </div>
