<mat-toolbar *ngIf="user$ | async as user" [ngClass]="user.vrstaKorisnika">
  <h1 routerLink="/">Sustav naručivanja</h1>

  <div>
    <ng-container *ngIf="user.vrstaKorisnika === 'A'; else nonAdmin">
      <button
        *ngFor="let link of links.admin"
        mat-button
        [routerLink]="link.path"
      >
        {{ link.title }}
      </button>
    </ng-container>
    <ng-template #nonAdmin>
      <button
        *ngFor="let link of links.nonAdmin"
        mat-button
        [routerLink]="link.path"
      >
        {{ link.title }}
      </button>
    </ng-template>
    <button mat-button (click)="onLogoutClick()">Odjavite se</button>
  </div>
</mat-toolbar>
