<mat-toolbar *ngIf="user$ | async as user" [ngClass]="user.vrstaKorisnika">
  <h1 routerLink="/">Pogrebno poduzeće</h1>

  <div>
    <ng-container *ngIf="user.vrstaKorisnika === 'A'">
      <button
        *ngFor="let link of links.admin"
        mat-button
        [routerLink]="link.path"
      >
        {{ link.title }}
      </button>
    </ng-container>

    <ng-container *ngIf="user.vrstaKorisnika === 'Z'">
      <button
        *ngFor="let link of links.employee"
        mat-button
        [routerLink]="link.path"
      >
        {{ link.title }}
      </button>
    </ng-container>

    <ng-container *ngIf="user.vrstaKorisnika === 'K'">
      <button
        *ngFor="let link of links.customer"
        mat-button
        [routerLink]="link.path"
      >
        {{ link.title }}
      </button>
    </ng-container>
    <button mat-button (click)="onLogoutClick()">Odjavite se</button>
  </div>
</mat-toolbar>
