@import '../../../../assets/styles/variables.scss';
/* stiliziranje naslova */
h1 {
    
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
h2 {
    font-style: bold;
    margin: auto;
    width: 80vw;
}
  
  /* stiliziranje teksta */
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 80vw;
    ul {
        width: 80vw;
        margin: auto;
    }
    button {
      color: $main-color;
      margin-left: 2rem;
    }
  }
  
  /* stiliziranje linkova */
  a {
    color: #0077cc;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* stiliziranje telefonskih brojeva */
  .tel {
    font-weight: bold;
    color: #0077cc;
  }
  
  /* stiliziranje email adrese */
  .email {
    font-weight: bold;
    color: #0077cc;
    text-decoration: none;
  }
  
  .email:hover {
    text-decoration: underline;
  }
  
  /* stiliziranje napomene */
  .note {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  
  .add {
    // jedan paragraf i dugme
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 80vw;
    button {
      margin-top: 1rem;
      width: 20%;
    }
  }

  .img {
    // odvoji iteme, jedan do drugoga, s razmakom u istom redku, centrirano
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: auto;
  }