<body>
    <app-main-navigation
      *ngIf="user$ | async; else authNavigationTemplate"
    ></app-main-navigation>
    <ng-template #authNavigationTemplate>
      <app-auth-navigation></app-auth-navigation>
    </ng-template>

    <div class="header">
        <h1>Dobrodošli u Pogrebno poduzeće</h1>
        <h2>Dostojanstvo i podrška u teškim vremenima</h2>
    </div>

        <h2><b>O nama</b></h2>
        <p>
          Pogrebno poduzeće je obiteljska tvrtka s dugogodišnjim iskustvom u pružanju dostojanstvenih i
          kvalitetnih pogrebnih usluga. Naša misija je olakšati teškoće povezane s organizacijom pogreba i
          pružiti podršku obiteljima u njihovim trenucima tuge.
        </p>
        <p>
          Naš tim stručnjaka posvećen je pružanju usluga najviše kvalitete. Imamo iskuso
          osoblje koje vam stoji na raspolaganju tijekom cijelog procesa, pružajući vam podršku, savjete i
          pomoć u donošenju važnih odluka.
        </p>
        <p>
          U našem poduzeću brinemo se o svakom detalju kako bi ispunili želje i potrebe obitelji i
          osigurali da svaki pogreb bude dostojanstven i osoban. Nudimo širok raspon usluga, uključujući
          organizaciju obreda, prijevoz, kremaciju, ispunjavanje administrativnih obveza i druge pogrebne aranžmane.
        </p>
        <p>
          Vjerujemo u važnost individualnog pristupa i poštovanja različitih vjerskih i kulturnih tradicija.
          Naša vizija je biti pouzdan partner obiteljima u njihovim teškim vremenima i pružiti im podršku kako bi
          se mogli posvetiti svojim voljenima i odati im posljednju počast na način koji odražava njihov život i vrijednosti.
        </p>

      <h2><b>Kontakt</b></h2>
      <p>
        Za više pitanja slobodno nas nazovite na broj telefona <a href="tel:01/4567-123">01/4567-123</a> ili
        pošaljite mail na <a href="mailto:pogrebno.poduzece@mail">pogrebno.poduzece@mail</a>,
        tu smo za Vas da Vam pomognemo u svim segmentima organizacije dostojanstvenog ispraćaja Vaših najmilijih.
      </p>

      <div class="img">
          <img src="assets\img\funeral7b.jpg"
          width="90%"
          draggable="false"
          (dragstart)="(false)"
          class="unselectable">
      </div>

      


    <app-main-footer class="footer"></app-main-footer>
  </body>