@import '../../../assets/styles/variables.scss';

.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .register {
    color: $main-color;
  }


  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: $secondary-color;
    background-color: $warn-color;
  }

  .info {
    display: flex;
    justify-content: center;
  }

.container {
    width: 70vw;
    margin: auto;
    display: block;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 20px;
    background-color: $main-color;
    color: $secondary-color;
}