$main-color: #3f51b5;
$secondary-color: #ffffff;
$warn-color: #f44336;
$dark-color: #000000DE;
$gray-color: #9E9E9E;

// doctor colors
$doctor-main-color: #743fb5;

// patient colors
$patient-main-color: #3fb566;

// nurse colors
$nurse-main-color: #b53f3f;

// admin colors
$admin-main-color: #a7b53f;