<div mat-dialog-title>
    <h1>Odaberi opremu</h1>
</div>
<form [formGroup]="equipmentForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Vrsta opreme</mat-label>
                <mat-select formControlName="vrstaOpreme">
                    <mat-option *ngFor="let val of types" [value]="val.id">{{val.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Kolicina</mat-label>
                <input matInput type="number" placeholder="Npr. 12" formControlName="kolicina">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Oprema</mat-label>
                <mat-select formControlName="opremaId">
                    <mat-option *ngFor="let val of filteredEquipmentToShow" [value]="val.id">{{val.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Odustani</button>
        <button mat-raised-button color="primary" type="submit">Potvrdi obabir</button>
    </div>
</form>

