<app-main-navigation
      *ngIf="user$ | async; else authNavigationTemplate"
    ></app-main-navigation>
    <ng-template #authNavigationTemplate>
      <app-auth-navigation></app-auth-navigation>
    </ng-template>
<div class="container">
    <h1 class="title">Informacije o prijavi smrtnog slučaja</h1>
    <p>
        Za više pitanja slobodno Nas nazovite ili pošaljite mail,
        tu smo za Vas da Vam pomognemo u svim segmentima organizacije dostojanstvenog ispraćaja Vaših najmilijih.
    </p>
    
    <h2 class="subtitle">Smrtni slučaj u kući ili stanu</h2>
    <p>Nazvati Policiju na broj 192 i obično kroz neko vrijeme dolazi medicinska ekipa ili
        mrtvozornik koji će tražiti uvid u povijest bolesti i medicinsku dokumentaciju preminulog te izdati dozvolu za ukop i prijevoz pokojnika.
        Dok nazočni čekaju mrtvozornika, potrebno je ispuniti <a routerLink="/report-death/form">obrazac</a> ili kontaktirati naše djelatnike na broj telefona
        <a href="tel:01/4567-123">01/ 4567-123</a> radi dogovora oko preuzimanja umrle osobe i organizacije posljednjeg ispraćaja.
        Ako je smrt nastupila u neobičnim okolnostima, ostavite tijelo i prostor kakvog ste zatekli radi eventualnog policijskog uviđaja.
    </p>
  
    <h2 class="subtitle">Smrtni slučaj u inozemstvu</h2>
    <p> Osoba koja radi pokopa želi prenijeti tijelo umrle osobe (ili njegove ekshumirane ostatke) iz strane zemlje gdje se
        ono nalazi u Hrvatsku nazovite Nas kako bi u najkraćem roku prikupili svu potrebnu dokumentaciju koje ćemo mi za
        Vas ishoditi.
    </p>
  
    <h2 class="subtitle">Smrtni slučaj u domu za starije i nemoćne osobe</h2>
    <p> Najbliži član obitelji bit će obaviješten o smrtnom slučaju i nakon toga može ispuniti <a routerLink="/report-death/form">obrazac</a> ili kontaktirati naše djelatnike na broj
        telefona <a href="tel:01/4567-123">01/ 4567-123</a> radi dogovora 
        oko preuzimanja umrle osobe i organizacije posljednjeg ispraćaja.
    </p>

    <h2 class="subtitle">Smrtni slučaj u bolnici</h2>
    <p>
        Nakon obavijesti iz bolnice ista će izdati potrebnu dokumentaciju za pogreb, sukladno tome potrebno je ispuniti <a routerLink="/report-death/form">obrazac</a> kontaktirati
        naše djelatnike na broj telefona <a href="tel:01/4567-123">01/ 4567-123</a> radi preuzimanja i otpreme odjeće na odjel patologije
        ili u mrtvačnicu u kojoj će pokojnik biti sahranjen.
    </p>
    

    <div class="add">
        <p>
            Ukoliko želite prijavati smrtni slučaj uz pomoć naše internetske usluge, molimo Vas da ispunite obrazac pritiskom na dugme.
        </p>
        <button mat-raised-button (click)="openAddForm()"> {{ anon ? 'Registrirajte se' : 'Obrazac' }}</button>
    </div>
    

<app-main-footer></app-main-footer>